In [1]:
s = """ hi how are you?
 today is session 3."""
print(s)

 hi how are you?
 today is session 3.

In [3]:
s = 'hello'

In [4]:
s[0] = 'o' # strings are immutable

TypeError: 'str' object does not support item assignment

In [6]:
s = "hi\tthere"
print(s)

hi	there

In [9]:
s = r'hi\nt' # raw strings
print(s)
print(len(s))

hi\nt
5

In [11]:
s = "google"
s[::-1]

'elgoog'

In [12]:
"google" + "1" # creates a new string

'google1'

In [14]:
l = [1,2,3]
l + [1]

[1, 2, 3, 1]

In [21]:
s = "google"# len:6
s[4:1:-1]

'lgo'

In [22]:
s = '49'
int(s)

49

In [23]:
s = 'hi there'
list(s)

['h', 'i', ' ', 't', 'h', 'e', 'r', 'e']

In [24]:
l = []
l.append(s)

l

['hi there']

In [26]:
ord('A')

65

In [29]:
chr(65)

'A'

## String formatting

In [35]:
name = "Rohan"
profile = "engineer"
s= "{} is an {}".format(profile, name)
print(s)

engineer is an Rohan

In [31]:
print(name, "is an engineer")

Rohan is an engineer

In [42]:
num = True
s= "{name} is an {var}".format(var=num, name=name)
print(s)

Rohan is an True

In [44]:
# f strings
num = 1
bird = "sparrow"
s = f"this is {num} {bird}"
print(s)

this is 1 sparrow

In [46]:
num = 1
bird = "sparrow"
# this is 1 sparrow
s = "This is "+ str(num) + " "+ bird
print(s)

This is 1 sparrow

In [47]:
s = 'this is' '123' # implicit concatenation
print(s)

this is123

In [49]:
s = 'this is' bird # not allowed
print(s)

SyntaxError: invalid syntax (<ipython-input-49-fc0bbd4fbf90>, line 1)

## for loop

In [51]:
l = ['apple', 'orange', 1, 3, True]
for element in l:
    print(element, end=" ")

apple orange 1 3 True

In [56]:
# 1 to 10
for i in range(1, 6):
    print(i, end=" ")
print("\n", i)

1 2 3 4 5
 5

In [57]:
# count = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100] # len? = 10

for i in range(1, 11):
    print(i, end=" ")
    i = 20

1 2 3 4 5 6 7 8 9 10

In [58]:
for i in range(1, 11, 2):
    print(i, end=" ")

1 3 5 7 9

In [61]:
count = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100] # len:10
i = 0
for i in range(10):
    if i% 2 == 0:
        count[i] = 1
    i += 1
print(count)

[1, 20, 1, 40, 1, 60, 1, 80, 1, 100]

In [69]:
# prime or not prime
num = 63
is_not_prime = False

for i in range(2, num):
    if num%i == 0:
        is_not_prime = True
        break

print(i)

if is_not_prime == False:
    print("Prime")
else:
    print("Not prime")

3
Not prime

In [70]:
for i in range(5): # 0,1,2,3,4
    if i % 3 == 0:
        continue # move to the next iteration
    else:
        print(i)

1
2
4

In [75]:
count = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(10):
    if i%2 == 0:
        continue
    else:
        print(count[i], end=" ")

20 40 60 80 100

In [79]:
num = 10
# print prime numbers upto num 

for val in range(2, num+1):
    is_not_prime = False
    for i in range(2, val):
        if val%i == 0:
            is_not_prime = True
            break

    if is_not_prime == False:
        print(val, end= " ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89

In [80]:
count

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [82]:
for el in count:
    print(el, end=" ")

10 20 30 40 50 60 70 80 90 100

In [84]:
for i in range(len(count)):
    print(count[i], end=" ")

10 20 30 40 50 60 70 80 90 100

## Dictionary

In [85]:
d = {}
len(d)

0

In [86]:
# add a new key
d[1] = 'a'
print(len(d))

1

In [87]:
print(d)

{1: 'a'}

In [88]:
d['B'] # if key not present in dictionary

KeyError: 'B'

In [90]:
d['B'] = [1,2] 
print(d)
print(len(d))

{1: 'a', 'B': [1, 2]}
2

In [ ]:
l = [1,2,3]
l[0]

In [94]:
d['B'][1]

2

In [95]:
d['B'] = {'a':1, 'b':2}
print(d)

{1: 'a', 'B': {'a': 1, 'b': 2}}

In [96]:
type(d['B'])

dict

In [98]:
d['B']['a']

1

In [99]:
d[2] = True

In [100]:
d[(1,2,3)] = 88
print(d)

{1: 'a', 'B': {'a': 1, 'b': 2}, 2: True, (1, 2, 3): 88}

In [101]:
print(len(d))

4

In [102]:
d[(1,2,3)]

88

In [104]:
d.keys(), type(d.keys())

(dict_keys([1, 'B', 2, (1, 2, 3)]), dict_keys)

In [108]:
keys = list(d.keys())
print(type(keys), keys)

<class 'list'> [1, 'B', 2, (1, 2, 3)]

In [109]:
# iterate over dictionary items
print(d)

{1: 'a', 'B': {'a': 1, 'b': 2}, 2: True, (1, 2, 3): 88}

In [110]:
for k in d.keys():
    print(k, "->", d[k])

1 -> a
B -> {'a': 1, 'b': 2}
2 -> True
(1, 2, 3) -> 88

In [111]:
for k in [1, 'B', 2, (1, 2, 3)]:
    print(d[k])

a
{'a': 1, 'b': 2}
True
88

In [112]:
for k in d:
    print(d[k])

a
{'a': 1, 'b': 2}
True
88

In [113]:
d.values()

dict_values(['a', {'a': 1, 'b': 2}, True, 88])

In [117]:
items = d.items()
print(type(items))
items_l = list(d.items())
print(items_l)
type(items_l[0])

<class 'dict_items'>
[(1, 'a'), ('B', {'a': 1, 'b': 2}), (2, True), ((1, 2, 3), 88)]

In [118]:
d

{1: 'a', 'B': {'a': 1, 'b': 2}, 2: True, (1, 2, 3): 88}

In [146]:
d1 = {1:'a', 2: 'b', 'c': 4}
d1.items()

dict_items([(1, 'a'), (2, 'b'), ('c', 4)])

In [125]:
it = list(d1.items())
it[0], type(it[0]), len(it[0])

((1, 'a'), tuple, 2)

In [133]:
x, y = it[2] # unpacking a tuple
print(y)

('c', 4)

In [130]:
d[1] = 'a', 'b'

In [131]:
d[1]

('a', 'b')

In [134]:
list(d)

[1, 'B', 2, (1, 2, 3)]

In [ ]:
[0,0,0,0,0,1,2,1,1,1,1,1,1,1,1,1]

In [ ]:
d[(0,1,2,3,4)] = 0

In [135]:
l = [0 for i in range(1000)]
print(len(l))

1000

In [142]:
l[5:20] = [1 for i in range(5,21)]

In [144]:
d = {}
d['5:20']=1
d[['0,4', '21,999']]=0

{'5:20': 1, ('0,4', '21:999'): 0}

In [150]:
for k,v in d1.items():
    print(k,v)

1 a
2 b
c 4

In [151]:
d1

{1: 'a', 2: 'b', 'c': 4}

In [154]:
d1[1] = 'cd'

In [155]:
d1

{1: 'cd', 2: 'b', 'c': 4}

In [156]:
del d1[1] # delete a key from dictionary

In [157]:
d[1] = 'a'
val = d[1]
d[5] = val
de

{2: 'b', 'c': 4}

### Getting help in python

In [166]:
dir(dict)
l = [1,2,3]
help(l.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.