In [1]:
l = [1,2,3,4,5] # iterable
for el in l:
    print(el)

1
2
3
4
5

In [ ]:
itr = iter(l)
type(itr)

In [ ]:
next(itr)

In [ ]:
def func(a, arr=[]):
    arr.append(a)
    print(arr)

In [ ]:
func(3)

In [ ]:
func(4, [1,2,3])

In [ ]:
func(4)

In [ ]:
def func(a, arr=[]):
    arr.append(a)
    print(arr)
    print(id(a), id(arr))


print(func(2))

print(func(3, [2, 3, 4]))

print(func(3))
print(func(4))

In [ ]:
l1 = [1,2]
l2 = l1
l2.append(4)
l2

# OOP

In [ ]:
class Dog:

    pass

In [ ]:
a = 3
print(type(a))

In [ ]:
l = [ 1,2 ,3]
print(type(l))

In [ ]:
dog1 = Dog()
print(type(dog1))

In [ ]:
dog1.name = 'Tyson'
dog1.breed = 'Labrador'

In [ ]:
dog1.name

In [ ]:
dog2 = Dog()
dog2.name = 'Tom'
dog2.breed = "pitbull"
print(dog2.name, dog2.breed)

In [ ]:
class Dog:

    def __init__(arg, name):
        arg.name = name

In [ ]:
d1 = Dog('Tyson')

In [ ]:
print(d1.name)

In [ ]:
d2 = Dog('bruce')

In [ ]:
print(d2.name)

In [ ]:
d1 is d2

In [ ]:
class Dog:

    def __init__(self, name, breed):
        self.name = name
        self.breed = breed

    def bark(self):
        d1 = Dog('Tyson', 'Lab')
        print(self.name, "is barking")

    def print_properties(self):
        print(self.name, self.breed)

In [ ]:
d1 = Dog('Tyson', 'Lab')

In [ ]:
d1.name

In [ ]:
d2 = Dog('Tyson2', 'Lab')
d2.name

In [ ]:
d1.bark()

In [ ]:
class myclass:

    def __init__(self, val):
        self.val = val

    def func(self):
        print("inside func")
        # print(val)

In [ ]:
obj1 = myclass(20)
obj1.val

In [ ]:
obj1.func()

In [ ]:
myclass.func()

In [ ]:
print(myclass.val)

In [ ]:
class Fan:

    brand = "Phillips" # class variable
    
    def __init__(self, blades, color):
        self.blades = blades
        self.color = color

In [ ]:
f1 = Fan(3, 'white')
f2 = Fan(3, 'black')

In [ ]:
f1.blades, f1.color, f1.brand

In [ ]:
f1.brand = 'b2'

In [ ]:
f2.brand, f1.brand

In [ ]:
Fan.brand = "b3"

In [ ]:
f1.brand, f2.brand

In [ ]:
class myclass1:

    var = 40

    def __init__(self, val):
        self.var1 = val

In [ ]:
o1 = myclass1(10)
o2 = myclass1(20)

In [ ]:
o1.var

In [ ]:
o2.var

In [ ]:
o1.var = 50
o1.var, o2.var

In [ ]:
myclass1.var

In [ ]:
myclass1.var = 70
o1.var, o2.var

In [ ]:
o2.var = 2

## EMS

In [ ]:
class Employee:

    empid = 0

    def __init__(self, name, salary, desg, age, dept):
        self.id = Employee.empid+1
        self.name = name
        self.salary = salary
        self.designation = desg
        self.age = age
        self.dept = dept
        Employee.empid += 1

In [ ]:
e1 = Employee('princey1', 500000, 'mentor', 20, 'class')
e2 = Employee('princey2', 500000, 'mentor', 20, 'dev')
e3 = Employee('princey3', 500000, 'mentor', 20, 'dev')
e4 = Employee('princey4', 500000, 'mentor', 20, 'finance')
e5 = Employee('princey5', 500000, 'mentor', 20, 'finance')

In [ ]:
class ems:


    def __init__(self):
        self.employees = []

    def create_user(self):
        name = input()
        salary = int(input())
        desg = input()
        age = int(input())
        dept = input()
        e = Employee(name, salary, desg, age, dept)
        self.employees.append(e)

    def delete(self, e):
        if e in self.employees:
            self.employees.remove(e)
            print(f"{e.name},  removed")
        else:
            print(f'{e.name} not found!')

    def total_salary(self):
        total = 0
        for e in self.employees:
            total += e.salary
        return total

    def give_raise(self,id, rs):
        for e in self.employees:
            if e.id == id:
                e.salary+=rs
                print('raise given!')
                break

    def department_wise_count(self):
        d = {}
        for e in self.employees:
            if d.get(e.dept,0) == 0:
                d[e.dept] = 1
            else:
                d[e.dept] += 1
        print(d)

    def total_departments(self):
        s = set()
        for e in self.employees:
            s.add(e.dept)
        print(s)

    def total_employees(self):
        return len(self.employees)

    def get_employee(self,id):
        for e in self.employees:
            if e.id == id:
                return e

In [ ]:
l = [[1,3,4,5],[2],[3],[4]]
l = [e1, e2, e3]


s1 = 'hello'
s2 = 'hi'
s3 = '340055'
l2 = [s1, s2, s3]
l2

In [ ]:
ems1 = ems()

In [ ]:
len(ems1.employees)
ems1.employees = [e1,e2,e3,e4,e5]
len(ems1.employees)

In [ ]:
e3.id

In [ ]:
t = ems1.total_salary()
print(t)

In [ ]:
e = ems1.get_employee(3)
print(e.name)

ems1.give_raise(e.id, 1000)
e.salary

In [ ]:
ems1.department_wise_count()

In [ ]:
ems1.total_departments()

In [ ]:
ems1.total_employees()

In [ ]:
ems1.create_user()

In [ ]:
len(ems1.employees)

In [ ]:
ems1.create_user()

In [ ]:
e1 = ems1.employees[0]

In [ ]:
ems1.delete(e1)

In [ ]:
l = [1,2,3,4]
if 4 in l:
    l.remove(4)
    print('Hi')