In [1]:
t = (1,2,3)

In [2]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [3]:
t

(1, 2, 3)

In [6]:
t = 1,2,3,4

In [7]:
t2 = t
t2

(1, 2, 3, 4)

In [10]:
id(t2) == id(t)

True

In [11]:
t2 is t

True

In [17]:
l = [1,2]

In [20]:
l*4

[1, 2, 1, 2, 1, 2, 1, 2]

In [23]:
l = [[1,2]]*3

In [24]:
l

[[1, 2], [1, 2], [1, 2]]

In [26]:
l[0][0] = 100
l

[[100, 2], [100, 2], [100, 2]]

In [27]:
s = "ab" # immutable
s*3

'ababab'

In [28]:
t = (1,2)
t*3

(1, 2, 1, 2, 1, 2)

In [32]:
ord('r')

114

In [33]:
d = {'pari':23, 'ripu':345}
d[True] = 23
d[23] = 34
d[(1,2,3)] = 564
d

{'pari': 23, 'ripu': 345, True: 23, 23: 34, (1, 2, 3): 564}

In [35]:
l = ['p', 'a']
l

['p', 'a']

In [36]:
d[l] = 45

TypeError: unhashable type: 'list'

## Sets

In [40]:
s = {1,2,3,4, 4, 4, 4}
s

{1, 2, 3, 4}

In [38]:
type(s)

set

In [39]:
s[0] = 1

TypeError: 'set' object does not support item assignment

In [42]:
l = [1,1,1,1,1,1,4,4,4,4,4,4,6,6,6,6,1,2,3,3,3]

In [43]:
set(l)

{1, 2, 3, 4, 6}

In [44]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [46]:
s.add(3)

help(s.add)

Help on built-in function add:

add(...) method of builtins.set instance
    Add an element to a set.

    This has no effect if the element is already present.

In [49]:
s.add(5)
s

{1, 2, 3, 4, 5}

In [50]:
help(s.update)

Help on built-in function update:

update(...) method of builtins.set instance
    Update a set with the union of itself and others.

In [51]:
s.update({2,3,4,5,6})
s

{1, 2, 3, 4, 5, 6}

In [54]:
l = [1,2,3,4,5,6,7,8,10]

val = 6
for i in l:
    if i == val:
        print("Found")
        break

Found

In [56]:
val = 34
if val in l:
    print("Found")
else:
    print("Not found")

Not found

In [57]:
s = set(l)
s

{1, 2, 3, 4, 5, 6, 7, 8, 10}

In [59]:
val = 10
if val in s:
    print("Found")

Found

In [60]:
s = set()
print(type(s))

<class 'set'>

In [61]:
l = ()
type(l)

tuple

In [62]:
l = []
s = set(l)
s

set()

In [66]:
l = [1,2,3,3,3,2]
val = 1,2,3
if val in l:
    pass

In [63]:
val = 1,2,3
type(val)

tuple

In [67]:
type(l[0])

int

In [68]:
l = [1,2,3]
for el in l:
    print(el, end=" ")
    pass
    print(el, end=" ")

1 1 2 2 3 3

In [70]:
for el in l:
    pass

## Patterns
n = 5
```
*
* *
* * *
* * * *
* * * * *
```

In [75]:
n = 5
for i in range(n):
    for j in range(i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

n = 5
```
        *
      * *
    * * *
  * * * *
* * * * *
```

In [78]:
for i in range(n):
    # spaces
    for j in range(n-i-1):
        print(" ", end=" ")
    # stars
    for j in range(i+1):
        print("*", end= " ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [112]:
n = 8
for i in range(n):
    for j in range(n):
        if j >= i:
            print("*", end=" ")
        else:
            print(" ", end=" ")              
    print()

* * * * * * * *
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

In [115]:
n = 8
for i in range(n):
    for j in range(n):
        if j >= n-i-1:
            print("*", end=" ")
        else:
            print(" ", end=" ")              
    print()

              *
            * *
          * * *
        * * * *
      * * * * *
    * * * * * *
  * * * * * * *
* * * * * * * *

In [118]:
n = 8
for i in range(n):
    for j in range(n):
        if j <= n-i-1:
            print("*", end=" ")
        else:
            print(" ", end=" ")              
    print()

* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [117]:
n = 8
for i in range(n):
    for j in range(n):
        if j <=i:
            print("*", end=" ")
        else:
            print(" ", end=" ")              
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [125]:
n = 11
for i in range(n):
    for j in range(n):
        if i == n//2 or j==n//2 or (i<=n//2 and j==0) or (i==0 and j>=n//2) or (i>=n//2 and j==n-1) or (i==n-1 and j<=n//2):
            print("*", end=" ")
        else:
            print(" ", end=" ")              
    print()

*         * * * * * *
*         *
*         *
*         *
*         *
* * * * * * * * * * *
          *         *
          *         *
          *         *
          *         *
* * * * * *         *

In [111]:
n = 11
for i in range(n):
    for j in range(n):
        print("*", end=" ")
    print()

* * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * *

In [104]:
n = 8
for i in range(n):
    for j in range(n):
        if j==0 or i==0 or j==n-1 or i == n-1:
            print("*", end=" ")
        else:
            print(" ", end= " ")
    print()

* * * * * * * *
*             *
*             *
*             *
*             *
*             *
*             *
* * * * * * * *

In [110]:
n = 9
for i in range(n):
    for j in range(n):
        if j==0 or i==0 or j==n-1 or i == n-1 or i==j or i == n-j-1 or i==n//2 or j == n//2:
            print("*", end=" ")
        else:
            print(" ", end= " ")
    print()

* * * * * * * * *
* *     *     * *
*   *   *   *   *
*     * * *     *
* * * * * * * * *
*     * * *     *
*   *   *   *   *
* *     *     * *
* * * * * * * * *

In [92]:
n = 8
for i in range(n):
    for j in range(n):
        if i == j:
            print("*", end=" ")
        else:
            print(" ", end= " ")
    print()

*
  *
    *
      *
        *
          *
            *
              *

In [93]:
n = 8
for i in range(n):
    for j in range(n):
        if i == n-j-1:
            print("*", end=" ")
        else:
            print(" ", end= " ")
    print()

              *
            *
          *
        *
      *
    *
  *
*

In [97]:
lst = [i for i in range(1, 10)]
for i in lst:
    print(i, end=" ")

1 2 3 4 5 6 7 8 9

In [126]:
l = [1,2,3,4,5,6,7,8,9,10]
l.reverse()

In [132]:
l = l[::-1]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [134]:
d = {1:1, 2:2, 3:'c', 'mira':3}
print(d.keys())

dict_keys([1, 2, 3, 'mira'])